@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.font {
    font-family: 'Caveat', cursive;
}

.blck {
    color: #A7ACBB;
}

.wht {
    color: #fff;
}

.graybg {
    background-color: #111111;
}

body {
    background-color: black;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes opening {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.opening {
    animation: opening 0.8s linear;
}

@keyframes opening {
    0% {
        opacity: 0;
    }
    56% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.openingnav {
    animation: opening 1.8s linear;
}
